* {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}
h1,h2,h3 {
    text-align: center;
    color: #c446e2;
    
}
h3 {
    font-size: 2em; 
}

body{
    background-image:url("../images/retrowave.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
div.hr {
background: rgb(255, 255, 82)  no-repeat scroll center;
width:100%;
height:2px;
}

div.hr hr {
display: none;
}

.white-color {
    color:white;
    text-align: center;
}

/* ##########################  */
/* ########## MENU ##########  */
/* ##########################  */
.menu {
    position: fixed;
    width: 100%;
    height: 52px;
    background-color: rgba(255,255,255,0.8);
}

.menu a {
    margin: 0;
    padding: 15px;
    line-height: 52px;
    font-family: Montserrat, sans-serif;
}
.menu .wrapper-menu{
	float: left;
    position: relative;
    left: 50%;
}
.menu * {
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-align:center;
    margin-right:15px;
    font-family: Century Gothic;
}
.menu ul {
    float: left;
    position: relative;
    left: -50%;
}
.menu li{
    display: inline-block;
    float: left;
    
    margin: 0 auto;
}
.menu .link:hover {
    background-color: rgba(216, 134, 200, 0.57);
}
.menu a:hover {
    text-decoration: none;
    color: black;
}

/* SEARCH */

.menu .searchbar {
    margin: 0;
    padding: 0;
}

#search {
    width: 357px;
    margin: 4px;
}
#search_text{
    width: 297px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: black;
    outline: none;
    background: rgba(255,255,255,0.5);
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(0,0,0,0.6);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(0,0,0,0.6);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(0,0,0,0.6);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(0,0,0,0.6);
}
#search_text:focus {
    background: rgba(216, 134, 200, 0.57);
}
#search_button {
    border: 0 none;
    background: rgba(216, 134, 200, 0.57) url("../images/search.png") center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
    color: transparent;
}
#deconnexion {
    font-family: Montserrat, sans-serif;
    border: 0 none;
    float: left;
    background-color: rgba(255,255,255,0.5);
    padding: 0 25px;
    text-transform: capitalize;
    text-align: center;
    height: 52px;
    cursor: pointer;
}
#deconnexion:hover {
    background-color: rgba(216, 134, 200, 0.57);
}

/* FIN SEARCH */

/* RECHERCHE AMI */

.recherche-ami {
    background-color: rgba(255,255,255,0.8);
    width: 600px;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}



/* ##########################  */
/* ########## FLEX ##########  */
/* ##########################  */

.container-fluid {
    padding-top:52px;
}

.mur, .ami {
    display: flex;
}
#spacer, #profil {
    flex-grow: 1;
    flex-basis: 20%;
    padding: 30px;
    text-align: justify;
}
#main {
    flex-basis: 1000px;
}



/* #########################  */
/* ########## MUR ##########  */
/* #########################  */
#main {
    background: rgba(0,0,0,0.5);
    padding: 25px;
}

.mur > h1 {
    font-size: 54px;
}
.message{
    width: 80%;
    height: auto;
    
    outline-style: outset;
    outline-color: #aaa;
    outline-width: thin;
    
    color: white;
    text-align: center;

    box-shadow: 0px 0px 5px 2px #ccc;
    padding: 25px;
    margin: 50px auto;
}
.message input[type="button"],
.message input[type="submit"],
.message input[type="text"],
.message textarea{
    width: 100%;
    padding: 10px;
    margin: 5px;
}
.message textarea {
    resize: vertical;
    height: 150px;
}
.message input[type='file'] {
    outline-style: dotted;
    outline-width: thick;
    outline-color: darkgrey;
    height: 50px;
}
.message span {
    float: right;
}

.message .text-image {
    margin-top: 25px;
}
#supprimer-ami {
    float: right;
}
/* ECRIT */

.well {
    background-color: rgba(255,255,255,0.8);
}
.well .content {    
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.well .texte {
    background-color: rgba(255,255,255,1);
    padding: 10px;
    margin: 2px;
    flex-grow: 1;
    flex-basis: 1;
    order: 2;
}
.well img {
    border: 2px solid purple;
    flex-basis: 1;
    order: 1;
    margin-right: 15px;
    max-width: 40vw;
    max-height: 40vh;
    object-fit: cover;
    
}

.sous-texte, .sous-texte a{
    font-size: 12px;
    color: #555;
    margin: 0;
}
.sous-texte a.gestion{
	float: right;
    margin-left:15px;
}
.sous-texte a:hover{
	color:black;
    text-decoration: underline;    
}



/* PROFIL */

#profil #moi {
    background-color: rgba(255,255,255,0.6);
    padding: 10px;
}


/* ####################### */
/* ####### MODALES ####### */
/* ####################### */

.texte-modal input[type=text], .texte-modal textarea{
    width: 100%;
    margin-bottom: 15px;
}
.texte-modal .modal-body {
    padding: 20px;
}

/* CONNEXION */
.wrapperConnexion{
    padding: 5%;
    margin-top:100px;
    text-align:center;
    background-color: rgba(255,255,255,0.8);
    
}

#formConnexion{
    margin:auto;
}
#formInscription{
    margin:auto;
}


/* ####################### */
/* ####### AMI ####### */
/* ####################### */

.well-ami {
    background-color: rgba(255,255,255,0.8);
}
.well-ami .texte {
    background-color: rgba(255,255,255,1);
    border-radius: 5px;
    padding: 10px;
}

pre {
    text-align: center;
}

