/* MENU */
* {
    font-size: 16px;
}

.menu{
    padding: 50px 0;
    background-color: #ffffa1;    
}
.menu * {
    color: #151413;
    font-weight: bold;
    font-size: 15px;
    text-align:center;
    margin-right:15px;
    font-family: Century Gothic;
}

ul {
    margin: 0px
}

li {
    display: inline-block;
}
.container{
    width:1000px;
    margin:auto;
}
.wrapperConnexion{
    height:200px;
    margin-top:100px;
    text-align:center;
}

#formConnexion{
    margin:auto;
}
#formInscription{
    margin:auto;
}